*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
         /* color palette */
    --background-color:#04154c;
    --primary-color: white; 
    --secondary-color: black;
    --third-color: #b6976b;
        /* text */
    --text-align: center;
        /* spacing */
    --padding-small: 5px;
    --padding-medium: 10px;
    --padding-large: 20px;
    --margin-small: 2rem;
}
nav {
    background-color: var(--background-color);
    padding: var(--padding-large);
    margin: var(--margin-large);
}
nav a {
    color: var(--primary-color);
    margin-bottom: 5px;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}
nav a:hover {
    color: var(--third-color);
}

ul a {
    color: var(--primary-color);
}
ul a:hover {
    color: var(--third-color);
}
h1 {
    color: var(--secondary-color);
}
main img {
    width: 250px;
    height: auto;
    border: 1px solid rgb(255, 255, 255);
    padding: var(--padding-small);
    box-shadow: 0 0 30px rgb(255, 255, 255);
    float: right;
}
p {
    padding: 0px;
}
main {
    max-width: 650px;
    padding-top: 0.5cm;
    margin-left: 8rem;
}
aside {
    width: 20rem;
    text-align: var(--text-align);
}

aside img {
    width: 250px;
    height: auto;
}
/* I wrapped main and aside in a container to make aside
stay on the left and main on the right */
main, aside {
    display: inline-block;
    vertical-align: top;
}
.container {
    display: flex;
    max-width: 100%;
    margin: auto;
}
.container aside {
    order: -2;
}
footer {
    background-color: var(--background-color);
    margin-top: 20px;
    border-top: 1px solid var(--background-color);
    text-align: var(--text-align);
    margin: 20px;
    padding: 50px;
    color: var(--primary-color);
}
body {
    font-family: ariel, sans-serif;
    line-height: 1.6;
}
/* Class Selectors */
.box {
    margin: var(--margin-small);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--padding-large);
    background-color:var(--background-color);
    color: var(--primary-color);
    min-height: 10rem;
}

.indent {
    padding-left: 3rem;
    padding-top: 1rem;
    margin-top: 2rem;
}
.indent h2 {
    text-align: center;
    height:5rem;
}